/* מיכל כרטיסים עם רשת דינמית */
.categories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* כל שורה תכיל 4 קומפוננטות */
    gap: 20px; /* רווחים בין הכרטיסים */
    padding: 20px;
    justify-items: center; /* ממורכז את הכרטיסים */
  }

  body {
    background-color: #de0d0d; /* צבע רקע */
    background-image: url('https://img.freepik.com/free-photo/environment-friendly-objects-with-copy-space_23-2148289792.jpg?semt=ais_hybrid'); /* תמונת רקע (אם יש) */
    background-size: cover; /* גורם לתמונה לכסות את כל המסך */
    background-repeat: no-repeat; /* מונע חזרה של התמונה */
    background-attachment: fixed; /* גורם לתמונה להישאר במקומה בזמן גלילה */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* משפחת גופנים */
  }